html {
width: 100vw;
} 

body {
  margin: 0, auto;
  color: white;
  font-size: 18px;
  font-family: 'Bahiana', cursive;
  background:
rgba(219, 147, 134, 0.6);
}

nav a {
  padding: 7vh 0 7vh 0;
  font-size: 66px;
  text-decoration: none;
  color: white;
}

.drewcifer {
  color: white;
  padding: 7vh 0 7vh 0;
}

.hero-image {
  width: 100%;
  opacity: .9;
}

.tour-about {
  display: grid;
  color: white;
  grid-template-columns: 7fr 1fr 1fr 1fr;
  grid-gap: 0 65px;
}

/* Upcoming shows heading */

h3 {
  font-size: 32px;
  color: grey;
  display: inline-block;
  margin-left: 20px;
}

ul {
  font-size: 30px;
  color: grey;
  list-style: none;
  margin: 0 auto;  
}

.tour-and-video {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 3fr;
  padding: 6vh 0 16vh 0;
}

.tour {
  text-align: center;
  width: 30vw;
  padding-top: 20vh;
  /* padding: 22vh 0 0 2wv; */
}

.hero-video {
  width: 40vw;
}

footer {
  font-size: 12px;
  color: mistyrose;
  text-align: center;
  padding: 16px 0;
}

.fbook {
  width: 4vw;
  margin: 0 auto 2vh auto;
}

.flaticon {
  text-decoration: none;
  color: mistyrose;
}


/* MQ */

@media (max-width: 1200px) {
  
  nav a {
    padding: 7vh 0 7vh 0;
    font-size: 54px;
  }
  .drewcifer {
    padding: 7vh 0 7vh 0;
  }
}

@media (max-width: 960px) {
  
  nav a {
    padding: 7vh 0 7vh 0;
    font-size: 44px;
  }
  .drewcifer {
    padding: 7vh 0 7vh 0;
  }
}


@media (max-width: 700px) {
  
  nav a {
    padding: 7vh 0 7vh 0;
    font-size: 38px;
  }
  .drewcifer {
    padding: 7vh 0 7vh 0;
  }
}


@media (max-width: 475px) {
  
  nav a {
    padding: 7vh 0 7vh 0;
    font-size: 20px;
  }
  .drewcifer {
    padding: 7vh 0 7vh 0;
  }
}