body {
  color: salmon;
  font-size: 18px;
  font-family: 'Patrick Hand', cursive;
}

.clr {
  clear: both;
}

h1, h2 {
  text-transform: uppercase;
  color: lightcoral;
  display: inline-block;
  font-weight: 800;
}

h1 {
  color: indianred;
  font-size: 46px;
}

h2 {
  color: olive;
  font-size: 24px;
  padding: 13px 0;
}

p {
color: indianred;
}

img {
  width: 95%;
  display: block;
  margin: 0 auto;
}

ul {
  color: indianred;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  color: salmon;
  text-align: center;
  padding: 16px 0;
}

nav {
	font-size: 30px;
 	float: right;
}

nav a {
	text-decoration: none;
  color: salmon;
	margin: 27px;
	display: inline-block;
}

.block {
  float: left;
  width: 22%;
  padding: 9px;
}








